.App {
  text-align: center;
}

.App-logo {
  height: 75px;
  margin-left: 3%;
  margin-top: 0em;
  font-family: cursive;
  color: rgb(211, 198, 198);
}
.App-header {
  background-color: #515351;
  min-height: 20%;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px 200px;
  grid-gap: 100px;
  background-color: #515351;
  margin-bottom: 300px;
  margin-top: 0em;
  font-family: cursive;
  color: rgb(211, 198, 198);
}

.bandas {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 400px;
  background-color: rgb(48, 46, 46);
  color: rgb(68, 66, 66);
  margin-top: 0em;
  font-family: cursive;
}

a:link {
  font-family: cursive;
  text-decoration: chocolate;
  color: rgb(150, 145, 145);
}

.card-body {
  background-color: rgb(56, 53, 53);
  font-family: cursive;
  text-decoration: chocolate;
  color: rgb(228, 216, 216);
}
