.App {
  text-align: center;
}

.App-logo {
  height: 75px;
  margin-left: 3%;
  margin-top: 0em;
  font-family: cursive;
  color: rgb(211, 198, 198);
}
.App-header {
  background-color: #515351;
  min-height: 100000%;
}

.wrapper {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-gap: 100px;
  background-color: #515351;
  margin-bottom: 300px;
  margin-top: 0em;
  font-family: cursive;
  color: rgb(211, 198, 198);
  text-align: center;
}


a:link {
  font-family: cursive;
  text-decoration: chocolate;
  color: rgb(150, 145, 145);
  font-size: larger;
}

.cards-body {
  background-color: rgb(56, 53, 53);
  font-family: cursive;
  text-decoration: chocolate;
  color: rgb(228, 216, 216);
}



.capas {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 50px;
  background-color: #363b36;
  margin-top: 0em;
  align-items: center;
}

.Texto_Central{
  background-color: #eee;
  color: rgb(239, 245, 244);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align:inherit;
  outline: none;
  font-size: 35px;
  transition: 0.4s;
}

.formulario {
align-content: center;



}