.App {
  text-align: center;
}

.App-logo {
  height: 75px;
  margin-left: 3%;
  margin-top: 0em;
}
.App-header {
  background-color: #99b399;
  min-height: 20%;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px 200px ;
  grid-gap: 100px;
  background-color:  #99b399;
  margin-bottom: 300px;
  margin-top: 0em;
}

.bandas {
  display: grid;
  grid-template-columns: 200px 200px 300px ;
  grid-gap: 350px;
  background-color: darkcyan;
  color: rgb(68, 66, 66);
  margin-top: 0em;
  font-family: cursive;
  
}

a:link{
  font-family: cursive;
  text-decoration:chocolate;
  color:black;
  }
 
  